.header {
  background-color: var(--dark-brown-background);
  height: 74px;
  padding: 14px 0;
}


@media (min-width: 768px) {
  .header {
    padding: 15px 0;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.title {
  font-size: 32px;
  font-weight: var(--weight-semibold);
  color: var(--black-text-color);
  text-align: center;
}

.message {
  font-size: var(--text-size);
  font-weight: var(--weight-regular);
  line-height: 1.55;
  text-align: center;
  color: var(--black-text-color);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  /* width: 314px; */
  width: 100%;

}

.confirmBtn {
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 314px;
  height: 54px;
  font-size: var(--text-size);
  font-weight: var(--weight-semibold);
  color: var(--white-text-color);
  background: var(--error-color);
  box-sizing: border-box;
  order: 2;
}

.confirmBtn:hover {
  background: #e04343;
}

.cancelBtn {
  border: 1px solid var(--black-text-color);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 314px;
  height: 54px;
  font-size: var(--text-size);
  font-weight: var(--weight-semibold);
  background: transparent;
  order: 1;
}

.cancelBtn:hover {
  background: var(--hover-white-btn-background);
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
    align-items: center;
    gap: 27px;
  }
}

@media (min-width: 768px) {
  .confirmBtn {
    width: 164px;
    height: 44px;
    padding: 8px 16px;
    order: initial;
  }
}

@media (min-width: 768px) {
  .cancelBtn {
    width: 164px;
    height: 44px;
    padding: 8px 16px;
    order: initial;
  }
}