.heroSection {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw 48px -50vw;
  padding: 128px 32px 98px;
  color: var(--white-text-color);
  background-image: linear-gradient(to right, #000000e6, #0000004d),
    url("/images/main-mob.webp");
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .heroSection {
    background-image: linear-gradient(to right, #000000e6, #0000004d),
      url("/images/main-mob@2x.webp");
  }
}

.heroOverlay {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 329px;
  margin: 0 auto;
}

.heroTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--white-text-color);
}

.heroForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.heroInput {
  padding: 12px;
  border: none;
  background-color: var(--white-text-color);
  color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  height: 46px;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 12px;
}

.heroInput::placeholder {
  color: #999;
}

.heroButton {
  width: 100%;
  height: 46px;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--white-text-color);
  background-color: #9b6c43;
  border: none;
  transition: background-color 0.3s;
}

.heroButton:hover {
  background-color: #9f7563;
}

.heroButton:focus {
  background-color: #9b6c43;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white-text-color);
}

.heroButton:focus:hover {
  background-color: #9b6c43;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputError {
  border: 2px solid red !important;
  box-shadow: 0 0 6px rgba(255, 0, 0, 0.3);
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .heroSection {
    padding: 128px 0;
    background-image: linear-gradient(to right, #000000e6, #0000004d),
      url("/images/main-tab.webp");
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .heroSection {
      background-image: linear-gradient(to right, #000000e6, #0000004d),
        url("/images/main-tab@2x.webp");
    }
  }

  .heroOverlay {
    max-width: 768px;
    padding: 0 32px;
  }

  .heroTitle {
    font-size: 48px;
    height: 117px;
    width: 493px;
  }

  .heroForm {
    flex-direction: row;
    margin: 0;
  }

  .heroInput {
    width: 471px;
    font-size: 18px;
  }

  .heroButton {
    width: 176px;
    font-size: 18px;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    background-image: linear-gradient(to right, #000000e6, #0000004d),
      url("/images/main-desk.webp");
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .heroSection {
      background-image: linear-gradient(to right, #000000e6, #0000004d),
        url("/images/main-desk@2x.webp");
    }
  }

  .heroForm {
    gap: 12px;
  }

  .heroOverlay {
    max-width: 1440px;
    padding: 0 108px;
  }
}
