.filterMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  gap: 29px;
  opacity: 1;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  border-radius: var(--radius-i-sm);

  @media (min-width: 768px) {
    width: 320px;
    justify-content: flex-end;
    margin-left: auto;
    border-radius: 0;
  }

  @media (min-width: 1440px) {
    width: auto;
    align-items: center;
  }
}

.btnFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 28px;
  padding: 0;
  padding-bottom: 4px;
  gap: 4px;
  font-size: var(--text-s-size);
  border-radius: var(--radius-i-sm);

  @media (min-width: 768px) {
    /* width: 100%; */
    align-self: flex-end;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    display: none;
    align-content: flex-end;
  }
}

.txt {
  font-size: var(--text-s-size);
  font-weight: 600;
}

/* .btnFilter {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
} */

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  stroke: var(--black-text-color);
  fill: none;
}

.wrapFilters {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 13px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  background-color: var(--white, #fff);
  width: 100%;
  animation: slideDown 0.3s ease-out;
  border-radius: var(--radius-i-sm);

  @media (min-width: 768px) {
    width: 320px;
    align-content: end;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    position: static;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: baseline;
    width: 480px;
    height: 33px;
    gap: 24px;
    border: none;
  }
}

.wrapFilters.open {
  display: flex;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.resetLink {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
  order: 3;

  @media (min-width: 1440px) {
    order: 0;
    width: 74px;
    flex-shrink: 0;
    align-self: center;
    margin-left: auto;
  }
}

.fieldC {
  width: 100%;
  height: 33px;

  @media (min-width: 1440px) {
    order: 2;
  }
}

.fieldI {
  width: 100%;
  height: 33px;

  @media (min-width: 1440px) {
    order: 3;
  }
}

.totalItems {
  display: inline-block;
  font-weight: var(--weight-semibold);

  @media (min-width: 768px) {
    display: none;
  }
}
