.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-i-sm);
  font-family: inherit;
  font-size: var(--btn-font, var(--text-size));
  font-weight: var(--weight-semibold);
  padding: 8px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: background-color 0.25s;
}

.white {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--light-gray);
  }

  &:active {
    background-color: var(--light-gray);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-gray);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }
}

.fill {
  background-color: var(--light-brown);
  color: var(--white);
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--brown);
  }

  &:active {
    background-color: var(--light-brown);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-brown);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }
}

.red {
  border: none;
  background-color: var(--red);
}

.md40 {
  width: 40px;
  height: 40px;
}

.md289 {
  width: 289px;
  height: 40px;

  @media (min-width: 768px) {
    width: 267px;
  }

  @media (min-width: 1440px) {
    width: 216px;
  }
}
