button {
  border-radius: var(--radius-i-sm);
  font-family: inherit;
  font-size: var(--btn-font, var(--text-size));
  width: var(--btn-width, 40px);
  height: var(--btn-height, 40px);
  font-weight: var(--weight-semibold);
  padding: var(--btn-padding, 8px);
  overflow: hidden;
  cursor: pointer;
  border: none;
  transition: background-color 0.25s;
}

.white {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--light-gray);
  }

  &:active {
    background-color: var(--light-gray);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-gray);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }
}

.fill {
  background-color: var(--light-brown);
  color: var(--white);
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--brown);
  }

  &:active {
    background-color: var(--light-brown);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-brown);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }
}

.red {
  border: none;
  color: var(--red);
}
