.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
  opacity: 1;

  @media (min-width: 768px) {
    width: 315px;
  }

  @media (min-width: 1440px) {
    width: 264px;
  }
}

.tumb {
  width: 100%;
  height: 230px;

  @media (min-width: 768px) {
    width: 315px;
  }

  @media (min-width: 1440px) {
    width: 264px;
    height: 178px;
  }
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58px;
}

.card-title {
  white-space: normal;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: var(--weight-bold);
}

.time {
  flex-shrink: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  height: 83px;
}

.card-desc {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Montserrat;
  line-height: 155%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-cal {
}

.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-weight: var(--weight-semibold);
}

.md289 {
  /* flex-grow: 0; */
  height: 40px;
  flex: 1 1 auto;
  width: auto;

  @media (min-width: 768px) {
    width: 267px;
  }
  @media (min-width: 1440px) {
    width: 216px;
  }
}

.save-icon {
  width: 24px;
  height: 24px;
  stroke: var(--black-text-color);
  fill: none;
  flex-shrink: 0;
}

.active {
  border-color: var(--light-brown-background);
}
