.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--light-beige, #faf3e0);
  gap: 20px;
  max-width: 362px;
  height: 711px;
  gap: 20px;
  border-radius: 32px;
  padding-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 522px;
    height: 621px;
  }

  @media (min-width: 1440px) {
    max-width: 420px;
    height: 646px;
  }
}

.title {
  font-size: var(--h2-size);

  @media (min-width: 768px) {
  }

  @media (min-width: 1440px) {
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 4px;
  font-size: var(--text-s-size);
  text-align: left;
  transition: margin-bottom 0.5s ease-in-out;
}

.labelLarge {
  margin-bottom: 52px;
  transition: margin-bottom 0.5s ease-in-out;

  @media (min-width: 321px) {
    margin-bottom: 42px;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

.containerField {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  padding-bottom: 7px;
  width: 100%;
}

.field {
  position: relative;
  padding: 8px;
  width: 100%;
  height: 41px;
  border: 1px solid var(--light-gray, #d9d9d9);
  border-radius: var(--radius-i-sm);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;

  @media (min-width: 768px) {
    width: 458px;
    height: 41px;
  }

  @media (min-width: 1440px) {
    width: 356px;
    height: 41px;
  }

  &:focus {
    border-image-source: linear-gradient(
        0deg,
        var(--Light-brown, #9b6c43),
        var(--Light-brown, #9b6c43)
      ),
      linear-gradient(
        0deg,
        var(--Light-gray, #d9d9d9),
        var(--Light-gray, #d9d9d9)
      );

    box-shadow: 0px 0px 0px 4px #4e46b433;

    outline: none;
  }
}

.fieldError {
  color: var(--error-color, #c80000);
  border: 1.5px solid var(--error-color, #c80000);

  &:focus {
    border: 1.5px solid var(--error-color, #c80000);
    box-shadow: 0 0 4px rgba(211, 47, 47, 0.5);
  }
}

.fieldValid {
  border-bottom: 1.5px solid var(--light-brown);
  box-shadow: 0 0 8px lightgreen;

  &:focus {
    border: 1.5px solid var(--light-brown);
    box-shadow: 0 0 8px lightgreen;
  }
}

.error {
  position: absolute;
  top: 58px;
  left: 0;
  padding: 4px;
  text-align: left;
  font-size: var(--text-s-size);
  color: var(--error-color, #c80000);
  line-height: 1;
}

.noError {
  position: absolute;
  top: 58px;
  left: 0;
  transform-origin: top center;
  width: 100%;
  text-align: center;
  min-height: 0px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-50%) scaleY(0);
  transition: transform 0.5s ease, opacity 0.5s ease, min-height 0.5s ease;
}

.errorLarge {
  padding: 2px;
  margin-top: 4px;
  min-height: 48px;
  /* background: var(--light-gray, #faf3e0); */
  /* border: 1.5px solid var(--active-background-btn); */
  border-radius: var(--radius-i-sm);
  font-size: var(--text-s-size);
  font-weight: var(--weight-regular);
  opacity: 1;
  text-align: left;
  overflow: visible;
  transform: translateY(0) scaleY(1);
  transition: transform 0.5s ease, opacity 0.5s ease, min-height 0.5s ease;
}

.checkboxLabel {
  display: flex;
  gap: 8px;
  text-align: left;
  flex-wrap: nowrap;

  @media (min-width: 768px) {
    display: none;
  }
}

.LinkTerms {
  font-weight: var(--weight-regular);
  font-size: var(--text-s-size);
  &::after {
    display: none;
  }
}

.pass {
  padding-right: 30px;
}

.btnReg {
  width: 298px;
  height: 36px;
  width: 100%;

  @media (min-width: 768px) {
    width: 458px;
    height: 36px;
  }

  @media (min-width: 1440px) {
    width: 356px;
    height: 36px;
  }
}
