.message {
  font-size: var(--text-size);
  font-weight: var(--weight-regular);
  line-height: 1.55;
  text-align: center;
  color: var(--black-text-color);
  width: 100%;
  max-width: 356px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
    align-items: center;
    gap: 27px;
    padding-bottom: 25px;
  }
}

.loginBtn,
.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 314px;
  height: 54px;
  font-size: var(--text-l-size);
  font-weight: var(--weight-semibold);
}

.loginBtn:hover,
.registerBtn:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .loginBtn,
  .registerBtn {
    padding: 8px;
    width: 164px;
    height: 36px;
    font-size: var(--text-size);
  }
}

.saveWhite {
  width: 24px;
  height: 24px;
  stroke: var(--black-text-color);
  fill: none;
  flex-shrink: 0;
}

.saveFill {
  stroke: var(--white-text-color);
 fill: var(--light-brown-background);
}
