.form {
  padding: 0px 16px;
}

/* --- Form fields --- */
.formLabel {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.formInput,
.formTextarea,
.formSelect {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 32px;
}

.formTextarea {
  height: 144px;
  resize: vertical;
}

/* --- Titles --- */
.addRecipePageTitle {
  margin-top: 0px;
  margin-bottom: 32px;
}

.title {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--black);
}

.uploadPhotoTitle {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: none;
}

/* --- Photo upload --- */
.photoUpload {
  background: #9f9f9f;
  border-radius: 16px;
  width: 100%;
  height: 383px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1rem;
}

/* --- Two columns --- */
.twoCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* --- Ingredients --- */
.ingredients {
}

.ingredientRow {
  grid-template-columns: 2fr 1fr auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

/* --- Buttons --- */
.addBtn {
  background: #9b6c43;
  color: #fff;

  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.submitBtn {
  background: #9b6c43;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  margin-top: 1rem;
}

.addBtn:hover,
.submitBtn:hover {
  background: #70492d;
}

/* --- General Info --- */
.generalInfo {
  display: flex;
  flex-direction: column-reverse;
}

.titleInfGen {
  margin-top: 24px;
  margin-bottom: 16px;
}

.titleInf {
  margin-top: 8px;
  margin-bottom: 32px;
}

/* --- Media Queries --- */
@media only screen and (min-width: 768px) {
  .titleInfGen {
    margin-bottom: 32px;
  }

  .ingredientRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: auto;
  }

  .ingredientCol {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .uploadPhotoTitle {
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: none;
  }

  .form {
    padding: 0px 32px;
  }

  .addBtn {
    border-radius: 8px;
    padding: 4px 8px;
    height: 23px;
    width: 247px;
  }
}

@media only screen and (min-width: 1440px) {
  .titleInf {
    margin-top: 40px;
  }

  .titleInfGen {
    margin-top: 40px;
  }

  .form {
    padding: 0px;
    max-width: 1226px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin: 0px;
  }

  .generalInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    align-items: start;
  }

  .generalInfoTitle {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .photoUpload {
    border-radius: 16px;
    width: 391px;
    height: 383px;
  }

  .addRecipePageTitle {
    margin: 0px;
  }

  .ingredients {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .labelsRow {
    display: grid;
    margin-bottom: 0.25rem;
    font-weight: 500;
  }

  .ingredientRow {
    width: 809px;
  }

  .addBtn {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    align-self: flex-start;
    display: block;
    margin-left: 562px;
  }

  .ingredientActions {
    display: flex;
    align-items: flex-start;
  }

  .ingredientColumns {
    display: flex;
    gap: 20px; 
  }

  .ingredientCol,
  .ingredientColAmount {
    display: flex;
    flex-direction: column;
  }
}
