.card-time {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  width: 53px;
  height: 28px;
  gap: 4px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--text-s-size);
  font-weight: var(--weight-semibold);
  flex-shrink: 0;
}

.time-icon {
  display: block;
  width: 24px;
  height: 24px;
  stroke: var(--black-text-color);
  fill: none;
  flex-shrink: 0;
}
