.burgerWrapper {
  display: block;
}

@media (min-width: 768px) {
  .burgerWrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .burgerBtn {
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .closeBtn {
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  .mobileNav {
    position: fixed;
    left: 0;
    right: 0;
    top: 73px;
    width: 100%;
    height: calc(100vh - 73px);
    background-color: #3d2218;
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 32px;
  }

  .mobileNavList {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin-top: 0;
  }

  .mobileNavItem {
    list-style-type: none;
  }

  .mobileNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    font-size: var(--text-size);
    font-weight: var(--weight-semibold);

    padding-block: 0px 4px;
    padding-inline: 0px;
    width: 65px;
    height: 24px;

    position: relative;
    color: var(--white-text-color);
    text-decoration: inherit;
    transition: opacity 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .activeNavLink {
    &::after {
      transform: scaleX(1);
    }
  }
}

@media (min-width: 768px) {
  .burgerWrapper {
    display: none;
  }

  .mobileNav {
    display: none;
  }
}
