.footer {
  background-color: var(--dark-brown-background);
  padding: 24px 0;
  height: 261px;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 197px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    height: 94px;
  }
  .footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  display: flex;
  gap: 5px;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: var(--white-text-color);
}

.copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--white-text-color);
  margin: 32px 0 32px 0;
  text-align: center;

  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}
