.footer {

  background-color: var(--dark-brown-background);
  padding: 24px 0;
  height: 261px;
}


@media screen and (min-width: 768px) {
  .footer {
    height: 197px;
  }
}


@media screen and (min-width: 1440px) {
  .footer {
    height: 94px;
  }

  .footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* @media screen and (max-width: 393px) {
  .footer {
    height: 261px;
  }
} */

@media(max-width: 1439px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.link {

  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: var(--white-text-color);
}

.copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--white-text-color);
  text-align: center;

  @media(min-width: 1440px) {
    margin: 0;
  }
}