.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    padding: 56px 24px 32px 24px;
    width: 100%;
    max-width: 362px;
    /* height: 316px; */
    background: var(--light-beige-background);
}

@media (min-width: 768px) {
    .modal {
        min-width: 420px;
        /* height: 236px; */
        padding: 56px 32px 32px 32px;
    }

}

.closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 28px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    stroke: black;
}


@media (min-width: 768px) {
    .closeBtn {
        right: 32px;
        height: 24px;
    }

    .closeBtn:hover {
        scale: 1.1;
    }
}