.list {
    display: grid;
    gap: 24px;
    max-width: 1440px;
    grid-template-columns: 1fr;
    padding-left: 1px;
    padding-right: 1px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.item {
    background-color: var(--card-background);
    max-width: 361px;
    height: 483px;
    border-radius: 16px;
    padding: 12px;

    @media (min-width: 768px) {
        width: 339px;
    }

    @media (min-width: 1440px) {
        width: 288px;
        height: 431px;
    }
}