:root {
  --font-main: "Montserrat", sans-serif;
  --second-family: "DM Sans", sans-serif;
  line-height: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000;
  --gray: #595d62;
  --white: #fff;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --light-gray: #d9d9d9;
  --darck-brown: #3d2218;
  --background: #fbfcf8;
  --brown: #6d554b;
  --light-gray-2: #d3d3d3;
  --light-gray-3: #c5c5c5;
  --gray-3: #9f9f9f;
  --social-media-background: rgba(255, 255, 255, 0);
  --gray-2: #575757;
  --black-2: #070707;
  --beige: #e3caa5;
  --beige-2: #edd9aa;
  --white-55: rgba(255, 255, 255, 0.55);
  --white-80: rgba(255, 255, 255, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-55-: rgba(255, 255, 255, 0.55);
  --white-80-: rgba(255, 255, 255, 0.8);
  --darck-brown-65-: rgba(61, 34, 24, 0.65);
  --icon-gray: #3a3a3a;
  --light-beige-2: #fffbe9;
  --darck-gray: #323232;
  --light-beige-3: #e1d7c6;
  --red: #c80000;

  background-color: var(--background);
  color: var(--black);

  /*Interactive border radius*/
  --radius-i-sm: 8px;

  /* Font weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Font sizes */
  --h1-size: 40px;
  --h2-size: 32px;
  --h3-size: 24px;
  --text-l-size: 18px;
  --text-size: 16px;
  --text-s-size: 12px;

  @media (max-width: 768px) {
    --h1-size: 48px;
    --h2-size: 40px;
    --h3-size: 24px;
    --text-l-size: 18px;
    --text-size: 16px;
    --text-s-size: 12px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 74px;
  flex-shrink: 0;
  padding: 14px 0;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 32px;
  }

  @media (max-width: 1440px) {
    padding: 0 108px;
  }
}

main {
  flex: 1;
  padding: 48px 0;
  overflow-y: auto;
}

footer {
  height: 261px;
  flex-shrink: 0;
  padding: 24px 0;
  margin: 0 auto;

  @media (max-width: 768px) {
    height: 197px;
  }

  @media (max-width: 1440px) {
    height: 94px;
  }
}

.container {
  max-width: 393px;
  margin: 0 auto;
  padding: 0 16px;

  @media (max-width: 768px) {
    max-width: 1440px;
    padding: 0 32px;
  }

  @media (max-width: 1440px) {
    max-width: 1440px;
    padding: 0 108px;
  }
}

header,
footer {
  background-color: var(--darck-brown);
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--weight-semibold);
  color: var(--white);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--weight-semibold);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--weight-semibold);
}

a {
  position: relative;
  font-weight: var(--weight-semibold);
  color: var(--black);
  text-decoration: inherit;

  &:hover {
    color: var(--light-beige);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

p {
  font-size: var(--text-size);
  font-weight: var(--weight-regular);
}

button {
  border-radius: var(--radius-i-sm);
  font-family: inherit;
  font-size: var(--text-size);
  font-weight: var(--weight-semibold);
  color: var(--black);
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 289px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--black);

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--light-gray);
  }

  &:active {
    background-color: var(--light-gray);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-gray);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  @media (max-width: 768px) {
    width: 267px;
  }

  @media (max-width: 1440px) {
    width: 216px;
  }
}

.button-fill {
  width: 298px;
  height: 36px;
  background-color: var(--light-brown);
  color: var(--white);
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--brown);
  }

  &:active {
    background-color: var(--light-brown);
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  &:disabled {
    background-color: var(--light-brown);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }

  @media (max-width: 768px) {
    width: 458px;
  }

  @media (max-width: 1440px) {
    width: 356px;
  }
}

.card {
  background-color: var(--light-beige);
  width: 361px;
  height: 483px;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  opacity: 1;

  @media (max-width: 768px) {
    width: 339px;
  }

  @media (max-width: 1440px) {
    width: 288px;
    height: 431px;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
