@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Base text colors */
  --black-text-color: #000;
  --white-text-color: #fff;

  /* Base background */
  --main-background: #fbfcf8;

  /* Recipe card / Modal / GeneralInfo - background  */
  --light-beige-background: #faf3e0;
  /* ---------------------------------------------- */

  /* Header/Footer - background */
  --dark-brown-background: #3d2218;
  /* ---------------------------- */

  --light-brown-background: #9b6c43;

  /* Save recipe btn */
  --saved-background-btn: var(--light-brown-background);

  /* Button var */
  --btn-background: var(--light-brown-background);
  --btn-text-color: var(--white-text-color);
  --hover-btn-background: #6d554b;
  --box-shadow-active-btn: 0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  --active-background-btn: var(--light-brown-background);

  /* Error color */
  --error-color: #c80000;

  --light-gray: #d9d9d9;

  /* Input placeholder text */
  --gray-placeholder-text: #9f9f9f;

  /* Select placeholder text */
  --gray-select-placeholder-text: #595d62;

  --base-transition: color ease-in-out 300ms, background-color ease-in-out 300ms,
    transform ease-in-out 300ms;

  background-color: var(--background);
  color: var(--black);

  /*Interactive border radius*/
  --radius-i-sm: 8px;

  /* Font weights */
  --weight-regular: 400;

  --weight-semibold: 600;

  --weight-bold: 700;

  /* Font sizes */
  --h1-size: 40px;
  --h2-size: 32px;
  --h3-size: 24px;
  --text-l-size: 18px;
  --text-size: 16px;
  --text-s-size: 12px;

  @media (max-width: 768px) {
    --h1-size: 48px;
    --h2-size: 40px;
    --h3-size: 24px;
    --text-l-size: 18px;
    --text-size: 16px;
    --text-s-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
