@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background);
  color: var(--black-text-color);
  line-height: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-text-color: #000;
  --white-text-color: #fff;
  --main-background: #fbfcf8;
  /* Recipe card / Modal / GeneralInfo - background  */
  --light-beige-background: #faf3e0;
  /* Header/Footer - background */
  --dark-brown-background: #3d2218;
  /*Card background*/
  --card-background: #faf3e0;
  --light-brown-background: #9b6c43;
  /* Save recipe btn */
  --saved-background-btn: var(--light-brown-background);
  /* Button var Fill*/
  --btn-background: var(--light-brown-background);
  --btn-text-color: var(--white-text-color);
  --hover-btn-background: #6d554b;
  --box-shadow-active-btn: 0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  --active-background-btn: var(--light-brown-background);
  --disabled-background-btn: #9b6c43;
  /* Button var white(Outline)*/
  --hover-white-btn-background: #d9d9d9;
  /* Error color */
  --error-color: #c80000;
  --light-gray--light-gray: #d9d9d9;
  --light-gray: #d9d9d9;
  /* Input placeholder text */
  --gray-placeholder-text: #9f9f9f;
  /* Select placeholder text */
  --gray-select-placeholder-text: #595d62;
  --base-transition: color ease-in-out 300ms, background-color ease-in-out 300ms,
    transform ease-in-out 300ms;

  /*Interactive border radius*/
  --radius-i-sm: 8px;
  /* Font weights */
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  /* Font sizes */
  --h1-size: 40px;
  --h2-size: 32px;
  --h3-size: 24px;
  --text-l-size: 18px;
  --text-size: 16px;
  --text-s-size: 12px;

  @media (min-width: 768px) {
    --h1-size: 48px;
    --h2-size: 40px;
    --h3-size: 24px;
    --text-l-size: 18px;
    --text-size: 16px;
    --text-s-size: 12px;
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--weight-semibold);
  color: var(--darck-brown);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--weight-semibold);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--weight-semibold);
}

a {
  position: relative;
  font-weight: var(--weight-semibold);
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: 1px underline;
    text-underline-offset: 4px;
  }
  /* &:hover {
    color: var(--light-beige);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  } */
}

p {
  font-size: var(--text-size);
  font-weight: var(--weight-regular);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-i-sm);
  font-family: inherit;
  width: 40px;
  height: 40px;
  padding: 8px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: background-color 0.25s;
}

.white {
  background-color: transparent;
  color: var(--black-text-color);
  border: 1px solid var(--black-text-color);

  &:hover,
  &:focus,
  &:focus-visible {
    background: var(--Light-gray, #d9d9d9);
  }

  &:active {
    background: var(--Light-gray, #d9d9d9);
    box-shadow: --box-shadow-active-btn;
  }

  &:disabled {
    background-color: var(--light-gray);
    opacity: 0.3;
    box-shadow: --box-shadow-active-btn;
  }
}

.fill {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--hover-btn-background);
  }

  &:active {
    background-color: var(--active-background-btn);
    box-shadow: --box-shadow-active-btn;
  }

  &:disabled {
    background-color: var(--disabled-background-btn);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 6px #4e46b41f, 0px 0px 0px 2px #ffffff;
  }
}

.red {
  border: none;
  background-color: var(--error-color);
}

