.btn {
  display: block;
  margin: 0 auto 48px;      
  width: 338px;             
  height: 54px;              

  border-radius: 8px;
  padding: 16px;

  background: #8B5E3C;
  color: #ffffff;

  font-family: var(--font-family, inherit);
  font-weight: 600;
  font-size: 18px;

  border: none;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
  .btn {
    width: 289px;
  }
}